<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Tournament Preparation Kit</title>
</head>
<body>
    <h1 style="text-align: center;">Players/Opponents List Management</h1>

    <div style="text-align: center; margin-top: 20px;"></div>
        <a href="{{ url_for('home') }}" style="display: inline-block; padding: 20px; font-size: 24px; background-color: #6c757d; color: white; text-decoration: none; border-radius: 5px; margin: 10px;">Home</a>
        <a href="{{ url_for('list_players') }}" style="display: inline-block; padding: 20px; font-size: 24px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px; margin: 10px;">List All Players</a>
        <a href="{{ url_for('add_chess_player') }}" style="display: inline-block; padding: 20px; font-size: 24px; background-color: #28a745; color: white; text-decoration: none; border-radius: 5px; margin: 10px;">Add Player</a>
    </div>

</body>
</html>